#!/usr/bin/make -f

DEB_BUILD_ARCH:=$(shell dpkg --print-architecture)

ifeq ($(DEB_BUILD_ARCH),hurd-i386)
	CONFIG_OPTS:=--disable-threads
else
	CONFIG_OPTS:=
endif

%:
	dh --with quilt $@

override_dh_auto_configure:
	autoconf
	./configure \
		$(CONFIG_OPTS) \
		--enable-cplusplus \
		--disable-dependency-tracking \
		--with-tags=CXX \
		--prefix=/usr \
		--mandir=\$${prefix}/share/man \
		--sysconfdir=/etc \
		--localstatedir=/var/lib \
		--datadir=\$${prefix}/share/doc

override_dh_install:
	install -D doc/gc.man debian/tmp/usr/share/man/man3/gc_malloc.3
	dh_install

override_dh_auto_clean:
	dh_auto_clean
	rm -rf autom4te.cache

override_dh_installchangelogs:
	dh_installchangelogs doc/README.changes
